.modal-content {
  // padding: 3rem;
}

// Login Modal

.social-cont {
  display: flex;
  justify-content: center;
  // align-items: center;
  border-bottom: 1px solid #ccc;

  @media only screen and (max-width: 750px) {
    flex-direction: column;
    padding: 2rem 4.6rem;
  }

  @media only screen and (max-width: 400px) {
    padding: 2rem 3rem 2.5rem 3rem;
    // padding: 2rem 4.6rem;
  }
}

.login-with {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  color: #999;
  padding: 3rem 0;

  @media only screen and (max-width: 750px) {
    font-size: 1.5rem;
    padding: 3rem 0;
  }

  @media only screen and (max-width: 450px) {
    font-size: 1.5rem;
    padding: 2rem 0;
  }
}

.btn-media {
  font-size: 1.3rem;
  padding: 1.5rem 4rem;
  border-radius: 50px;
  box-shadow: 0 0.3rem 1rem rgba(0, 0, 0, 0.3);
  border: none;
  background-color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  color: #999;
  margin-bottom: 5rem;
  cursor: pointer;
  transition: all 0.3s;

  display: flex;
  align-items: center;

  @media only screen and (max-width: 750px) {
    margin-bottom: 3rem;
    justify-content: center;
    padding: 2.5rem 5rem;
    font-size: 1.9rem;
  }

  &:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.3);
  }

  &:not(:last-child) {
    margin-right: 2rem;

    @media only screen and (max-width: 750px) {
      margin-right: 0;
    }
  }
}

.login-cont {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  padding: 0rem 5rem 5rem 5rem;

  @media only screen and (max-width: 400px) {
    padding: 2rem 3rem 5rem 3rem;
  }
}

.login__input {
  width: 100%;
  margin: 0 auto;
  padding: 1.5rem 2rem;
  border: none;
  box-shadow: 1px 1px 5px rbga(0, 0, 0, 0.4);
  border-radius: 50px;
  border: 3px solid transparent;
  // border-bottom: 3px solid transparent;

  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  &:focus {
    outline: none;
    border: 3px solid #f62f5e;
    // border-bottom: 3px solid #f62f5e;
  }

  // @media only screen and (max-width: 750px){
  //     padding: 2.5rem 4rem;
  // }

  @media only screen and (max-width: 750px) {
    padding: 2rem 2rem;
  }
}

.remember-me {
  margin-top: 25px;
  font-size: 1.4rem;
  color: #999;
  display: flex;
  align-items: center;

  & > *:not(:last-child) {
    margin-right: 0.7rem;
  }
}

.login-btn-cont {
  display: flex;
  justify-content: center;
  padding-top: 3rem;

  @media only screen and (max-width: 750px) {
    padding-top: 2.5rem;
  }

  & a {
    display: block;
    border: none;
    background-color: #f62f5e;
    color: #fff;
    border-radius: 3px;
    padding: 1.5rem 3.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    font-size: 1.3rem;

    @media only screen and (max-width: 750px) {
      width: 100%;
      padding: 1.5rem 3.5rem;
      font-size: 2rem;
    }
  }
}

.google-icon {
  width: 2rem;
  height: 2rem;
  fill: rgb(243, 76, 47);
  margin-right: 1rem;

  @media only screen and (max-width: 750px) {
    width: 3rem;
    height: 3rem;
  }
}

.fb-icon {
  width: 2rem;
  height: 2rem;
  fill: rgb(9, 69, 187);
  margin-right: 0.7rem;

  @media only screen and (max-width: 750px) {
    width: 3rem;
    height: 3rem;
  }
}

.btn-close {
  position: absolute;
  top: 0;
  right: 12px;
  outline: none;
  border: none;
  background-color: #fff;
  font-size: 3rem;
  cursor: pointer;
}
