.signInModal {
  position: fixed;
  z-index: 1100;
  background-color: #fff;
  width: 30%;
  // border: 1px solid #ccc;
  // box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  // border-radius: 3px;
  // padding: 1.6rem;
  // left: 36.66%;
  top: 10%;
  box-sizing: border-box;
  transition: all 0.3s ease-out;

  margin-right: auto;
  margin-left: auto;
  right: 0;
  left: 0;
}

.modal-show {
  transform: translateY(0);
  opacity: 1;
}

.modal-hide {
  transform: translateY(-100vh);
  opacity: 0;
}
