.cart__items {
    display: grid;
    grid-template-columns: 40% repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);
    grid-gap: 1rem;

    &__item {

        display: grid;
        grid-template-columns: min-content 1fr;
        grid-gap: 1rem;
        justify-items: start;
        align-items: center;
        

        &-image {
            grid-row: 1 / 4;
            width: 10rem;
            height: 11rem;
            border: 1px solid #ccc;

            display: flex;
            justify-content: center;
            align-items: center;
        }

        &-title {
            text-align: left;
            width: 100%;
            font-size: 1.8rem;
            font-weight: 600;
        }

        &-id {
            font-size: 1.6rem;
        }

        &-remove {
            font-size: 1.6rem;
        }
    }


    &__size {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.6rem;
    }

    &__quantity {
        display: flex;
        justify-content: center;
        align-items: center;

        & > *:not(:last-child){
            margin-right: .5rem;
        }

        &-control {
            height: 3.5rem;
            width: 3.5rem;
            padding: 1rem;
            background-color: #ccc;
            border-radius: 50%;
            font-size: 3rem;
            cursor: pointer;

            display: flex;
            justify-content: center;
            align-items: center;

            // &:active {
            //     color: none;
            // }
        }


        &-content {
            padding: 1rem 2rem;
            border: 1px solid #ccc;
            border-radius: 100px;
            font-size: 1.8rem;
            font-weight: 700;
        }
    }


    &__price {
        display: flex;
        justify-content: center;
        align-items: center;
        
        font-size: 2rem;
        font-weight: 700;
    }

}