.cart {
  position: absolute;
  left: 0;
  // padding: 3rem 3rem 0 3rem;
  background-color: #fff;
  width: inherit;
  box-shadow: 0.3rem 0.3rem 1rem rgba(0, 0, 0, 0.15);
  z-index: 100;

  transition: all 0.3s;

  &__countheader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    position: relative;
  }
  &__topheader {
    text-align: left;
    color: #2e2e2e;
  }
  &__close {
    // justify-self: flex-end;
    cursor: pointer;

    // display: flex;
    // justify-content: center;
    // align-items: center;

    position: absolute;
    top: 10px;
    right: 20px;

    height: 4rem;
    width: 4rem;
    fill: #2e2e2e;
  }

  &__header {
    // margin-top: 2rem;
    padding: 2rem 0;
    display: grid;
    grid-template-columns: 40% repeat(3, 1fr);
    grid-template-rows: repeat(3, min-content);

    border-bottom: 1px solid #ccc;

    & > * {
      font-size: 1.8rem;
      font-weight: 700;
    }
  }

  &__tableCont {
    height: 300px;
  }

  &__tableContScroll {
    height: 300px;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 8px;
      background-color: #ccc;
    }
    &::-webkit-scrollbar-thumb {
      background-color: #6c6c6c;
    }
  }

  &__list {
    padding: 2rem 0;
  }

  &__options {
    padding: 2rem 8rem;
    background-color: #f7f7f7;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.cart__hide {
  visibility: hidden;
  opacity: 0;
}

.cart__show {
  visibility: visible;
  opacity: 1;
}

.padding-3 {
  padding: 3rem 8rem 0 8rem;
}

.checkout__infoCont {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.checkout__infoSecCont {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.checkout__info {
  flex: 1;
  display: flex;
  justify-content: space-evenly;

  & > * {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;

    // border: 1px solid #000;
  }
}

.checkout__header {
  // margin-top: 2rem;
  padding-top: 2rem;

  display: flex;
  justify-content: space-around;

  & > * {
    font-size: 1.8rem;
    font-weight: 700;
  }
}

.checkout__summaryHeader {
  display: grid;
  grid-template-columns: 30% repeat(3, 1fr);
  grid-gap: 10px;

  padding: 10px;
  // margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.checkout__itemsInfo {
  display: grid;
  grid-template-columns: 30% repeat(3, 1fr);
  grid-gap: 10px;

  margin-bottom: 10px;

  font-family: "Open Sans";
  font-size: 1.4rem;

  & > * {
    align-self: center;
  }
}

.checkout__itemsInfo_title {
  justify-self: start;
  text-align: left;
}

.checkout__itemTotal {
  text-align: right;
  padding: 15px;
  font-size: 1.5rem;
  font-weight: 700;
  border-top: 1px solid #ccc;
}

.checkout__userHeader {
  padding: 10px;
  // margin-bottom: 10px;
  font-weight: 700;
  font-size: 1.5rem;
}

.checkout__userDetails {
  flex: 1;
  padding: 0 2rem 2rem 2rem;
  text-align: left;
  font-size: 1.4rem;

  & > * {
    margin-bottom: 15px;
  }
}

// .checkOut__stripeElement {
//   border: 1px solid #f62f5e;
// }

.StripeElement {
  margin-bottom: 15px;
  border-radius: 100px;
  padding: 15px 25px;
  border: 3px solid #ccc;

  &:focus {
    outline: none;
    // border-bottom: 3px solid #f62f5e;
    border: 3px solid #f62f5e;
  }
}

.StripeElement--invalid {
  border: 3px solid #f62f5e;
}
