.category {
  // background-color: #fff;
  // background-image: linear-gradient(to right, #b4b4b4, #6c6c6c);
  background-image: url("../../../assets//images/cat-header1.jpg");
  background-size: cover;
  padding: 6rem;

  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-start;

  &__header {
    color: #2e2e2e;
    // font-size: 3.5rem;
  }

  &__list {
    display: grid;
    grid-auto-flow: column;
    width: 100%;
    grid-template-rows: repeat(6, min-content);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0.8rem;
    font-family: "Montserrat";

    padding-top: 2rem;
    color: #fff;
    font-size: 1.4rem;
    font-weight: 700;
    text-align: left;
    align-content: flex-start;

    & > * {
      cursor: pointer;
    }
  }
}

.category__Men {
  // background-image: url("../../../assets//images/cat-header1-min.jpg");
  background-image: url("https://i.ibb.co/2d3nQ59/men-fashion1.jpg");
  background-size: cover;
  padding: 6rem;
}

.category__Women {
  // background-image: url("../../../assets//images/carousel-women-min.jpg");
  background-image: url("https://i.ibb.co/bPMHjN2/women-fashion1-3.jpg");
  background-size: cover;
  padding: 6rem;
}

.category__Kids {
  background-image: url("https://i.ibb.co/SKyJrgR/kids-fashion-min1-1.jpg");
  background-size: cover;
  padding: 6rem;
}

.category__Shoes {
  background-image: url("https://i.ibb.co/f1S3BfZ/shoes-fashion.jpg");
  background-size: cover;
  padding: 6rem;
}

.category__Brands {
  background-image: url("https://i.ibb.co/KmjwQxb/brand-fashion1.jpg");
  background-size: cover;
  padding: 6rem;
}
