.navigation {
    display: flex;
    flex-direction: column;

    &__cart {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;

        font-family: 'Montserrat';
        line-height: 240%;
        color: #2e2e2e;

        &__greet {
            font-size: 1.4rem;
            font-weight: 700;
        }

        &__greet span{
            color: #f5265e;
            cursor: pointer;
        }

        &__deals {
            display: flex;
            // justify-content: space-evenly;

            font-size: 1.4rem;
            font-weight: 700;

            & > *:not(:last-child) {
                margin-right: 2rem;
            }
            
        }

        &__bag {
            display: flex;
            align-items: center;

            font-size: 1.4rem;
            font-weight: 700;

            & > *:not(:last-child) {
                margin-right: 4.5rem;
            }

            &-sum{
                display: flex;
                align-items: center;
                

                & > *:not(:last-child) {
                    margin-right: 2rem;
                }
            }


            &-icon-container{
                position: relative;
                cursor: pointer;
                // width: 4rem;
            }

            &-icon{
                width: 1.8rem;
                height: 1.8rem;
            }

            &-count{
                display: flex;
                justify-content: center;
                align-items: center;

                position: absolute;
                top: -40%;
                right: -80%;

                height: 2rem;
                width: 2rem;
                color:#fff;
                background-color: #f5265e;
                border-radius: 50%;
                padding: .5rem;
            }
        }
    }



    &__nav {
        display: flex;
        justify-content: space-between;
        align-items: center;

        background-color: #2e2e2e;
        font-size: 1.7rem;
        color: #fff;
        padding: 2rem;

        &__logo {
            font-size: 2.4rem;
            font-weight: 700;
            letter-spacing: .5rem;
            color: #f5265e;
        }

        &__navlist {
            display: flex;

            font-weight: 600;
            cursor: pointer;
         
        
            & > *:not(:last-child) {
                margin-right: 2rem;
            }
        }


        &__search {
            background-color: #f2f2f2;
            padding: .8rem 3rem;
            border-radius: 100px;
            

            width: 30rem;
        }

    }
}